name: SOLO-ANDROID-APK
on: [push, workflow_dispatch]

jobs:
  construir_apk:
    runs-on: ubuntu-latest
    steps:
      - name: Descargando ADN de Otto-task
        uses: actions/checkout@v4

      - name: Iniciando Forja de Android (Buildozer)
        uses: ArtemSerebrennikov/buildozer-action@v1
        with:
          command: buildozer android debug
          repository_root: .

      - name: Entrega de APK Final
        uses: actions/upload-artifact@v4
        with:
          name: Otto-Task-MOBILE-APK
          path: bin/*.apk
          
