name: ANDROID-MASTER-BUILD
on:
  push:
    branches: [ master ]  # <--- ACÁ ESTÁ EL SECRETO
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build APK
        uses: Entepotenz/buildozer-action@v1.2.2
        with:
          command: buildozer android debug
          repository_root: .

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Otto-Task-APK
          path: bin/*.apk
          
